# Core dependencies
numpy == 2.0.1
scipy == 1.14.1
scikit-learn == 1.5.1
matplotlib == 3.9.2
torch == 2.3.1
torchvision == 0.18.1
captum == 0.7.0
tqdm == 4.66.5

# Example dependencies
seaborn == 0.13.2
pandas == 2.3.0
aeon == 1.3.0

# Optional: For DTW distance metric in proximity metrics
dtaidistance == 2.3.12